<ng-template #toolbarTemplate>
  <span>Transactions</span>
</ng-template>

<app-message />

<mat-card>
  <mat-card-content>
    <div class="transactions-container">
      @if (transactions.length > 0) {
        <table
          mat-table
          [dataSource]="dataSource"
          (matSortChange)="sortChange($event)"
          matSort
          matSortActive="createdAt"
          matSortDirection="desc"
          matSortDisableClear
        >
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.createdAt | date: 'short' : 'local' }}</td>
          </ng-container>

          <ng-container matColumnDef="jobType">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let transaction">{{ jobTypeToString(transaction?.job?.jobType) }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.amount | number: '1.0-0' }}</td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Balance</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.balance | number: '1.0-0' }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            matTooltip="Txn ID: {{ row.id }} Job ID: {{ row.job?.id }}"
          ></tr>
        </table>

        <mat-paginator
          [length]="totalTransactions"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      } @else {
        <p>No transactions found.</p>
      }
    </div>
  </mat-card-content>
</mat-card>
