<ng-template #toolbarTemplate>
  <h1>Crypto News</h1>
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>Filter news</mat-label>
    <input matInput (input)="applyFilter($event.target || null)" placeholder="Enter a keyword" />
  </mat-form-field>
</ng-template>

<app-message></app-message>

<div class="crypto-news-container">
  <p>
    Showing {{ filteredNews.length }} of {{ newsData?.results?.length || 0 }} with {{ selectedNews.size }} selected
    (limited to last 24 hours of fetched news).
  </p>
  <button mat-flat-button color="primary" type="button" (click)="fetchNews()">Fetch News</button>
  <button mat-flat-button color="primary" type="button" (click)="summarizeSelected()">Summarize Selected</button>

  @if (newsData) {
    <mat-list>
      @for (news of filteredNews; track news.url) {
        <mat-list-item class="news-item">
          <mat-card>
            <mat-card-header>
              <mat-checkbox (change)="toggleSelection(news)" [checked]="isSelected(news)"></mat-checkbox>
              <mat-card-title>
                <a [href]="news.url" target="_blank">{{ news.title }}</a>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>
                      <strong>Published at:</strong>
                      <span [matTooltip]="news.publishedAt | date: 'z'" matTooltipPosition="above">
                        {{ news.publishedAt | date: 'short' }}
                      </span>
                    </p>
                    @if (news.summary) {
                      <p>&nbsp;(AI Summary Generated)</p>
                    }
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="news-description" [innerHTML]="news.description"></p>
                <p><strong>Source:</strong> {{ news.source }}</p>
                @if (news.summary.length > 0) {
                  <p><strong>Summary:</strong> {{ news.summary }}</p>
                } @else {
                  <p><strong>Summary:</strong> No AI summary available</p>
                }
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </mat-list-item>
      } @empty {
        <mat-card>
          <mat-card-header>
            <p>No news articles exist within the last 24 hours, perhaps try "Fetch News" to get the latest updates.</p>
          </mat-card-header>
        </mat-card>
      }
    </mat-list>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
