<ng-template #toolbarTemplate>
  <h1>Crypto News</h1>
  <mat-form-field appearance="outline" class="filter-form-field">
    <mat-label>Filter news</mat-label>
    <input matInput (input)="applyFilter($event.target || null)" placeholder="Enter a keyword" />
  </mat-form-field>
</ng-template>

<app-message></app-message>

<div class="crypto-news-container">
  <p>
    Showing {{ filteredNews.length }} of {{ newsData?.results?.length || 0 }} with {{ selectedNews.size }} selected
    (limited to last 24 hours of fetched news).
  </p>
  <button mat-flat-button color="primary" type="button" (click)="fetchNews()">Fetch URLs</button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="extractSelectedNews()"
    [disabled]="selectedNews.size === 0"
  >
    Retrieve
  </button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="summarizeSelected()"
    [disabled]="selectedNews.size === 0"
  >
    Summarize
  </button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="createArticleFromSelected()"
    [disabled]="selectedNews.size === 0"
  >
    Create Article
  </button>
  <mat-form-field>
    <mat-label>Select Team</mat-label>
    <mat-select [(value)]="selectedTeamId">
      @for (team of teams; track team.id) {
        <mat-option [value]="team.id">{{ team.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" type="button" (click)="selectAll()">Select All</button>
  <button mat-button color="primary" type="button" (click)="unselectAll()">Unselect All</button>
  <button mat-button color="primary" type="button" (click)="selectLast12Hours()">Select Last 12 Hours</button>
  @if (newsData) {
    <mat-list>
      @for (news of filteredNews; track news.url) {
        <mat-list-item class="news-item">
          <mat-card>
            <mat-card-header>
              <mat-checkbox (change)="toggleSelection(news)" [checked]="isSelected(news)"></mat-checkbox>
              <mat-card-title>
                <a [href]="news.url" target="_blank">{{ news.title }}</a>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>
                      <strong>Published at:</strong>
                      <span [matTooltip]="news.publishedAt | date: 'z'" matTooltipPosition="above">
                        {{ news.publishedAt | date: 'short' }}
                      </span>
                      - <strong>Source:</strong> {{ news.source }}
                    </p>
                    @if (news.summary) {
                      <p>&nbsp;(AI Summary Generated)</p>
                    } @else if (news.content) {
                      <p>&nbsp;(No AI Summary)</p>
                    }
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <h3>RSS Description</h3>
                <p
                  class="news-details news-description"
                  [innerHTML]="news.description || 'No description provided'"
                ></p>
                <mat-divider></mat-divider>
                <h3>AI Summary</h3>
                <button mat-flat-button color="primary" type="button" (click)="regenerateSummary(news.id)">
                  {{ news.summary.length > 0 ? 'Reg' : 'G' }}enerate Summary
                </button>
                <p class="news-details">{{ news.summary || 'No news summary available' }}</p>
                <mat-divider></mat-divider>
                <h3>Site Content</h3>
                <p class="news-details">{{ news.content || 'No news content available' }}</p>
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </mat-list-item>
      } @empty {
        <mat-card>
          <mat-card-header>
            <p>No news articles exist within the last 24 hours, perhaps try "Fetch URLs" to get the latest updates.</p>
          </mat-card-header>
        </mat-card>
      }
    </mat-list>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
