.toolbar-container {
  display: flex;

  .filter-form-field {
    flex: 1 1 auto; /* Allow the form field to grow and shrink */
    padding-top: 8px;
    min-width: 200px; /* Set a minimum width for the form field */
  }
}

.crypto-news-container {
  mat-form-field {
    margin: 0 4px;
    margin-left: 4px;
  }

  .form-container button {
    margin: 4px;
  }
  .form-container mat-select {
    margin-left: 4px;
  }

  .sub-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px; /* Optional: Add some space between buttons */
  }

  .sub-menu button {
    white-space: normal; /* Allow text to wrap inside buttons */
  }

  mat-list-item {
    padding: 0;
  }

  mat-card.toolbar {
    width: auto;
  }

  mat-card-content {
    overflow: auto; // Ensures content does not overflow
  }

  mat-card-header {
    flex-direction: row-reverse; // Reverse the order of flex items
    align-self: start;
  }

  .news-item {
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: auto;
  }

  mat-card-content p {
    white-space: normal; // Allow text to wrap
    overflow-wrap: break-word; // Ensures long words do not cause layout issues
    //margin-bottom: 5px;
  }

  .news-item p {
    margin: 0;
  }

  .news-item p.news-details {
    margin-bottom: 10px;
  }

  mat-expansion-panel h3 {
    margin: 0;
  }

  mat-card {
    width: 100%;
  }

  ::ng-deep .news-description img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    float: left; // This makes the image float to the left, allowing text to wrap around
    margin-right: 10px; // Adds some space between the image and the text on the right
    margin-bottom: 10px; // Adds some space below the image for better spacing with the text
  }
}
