.full-width {
  width: 100%;
}

//.article-content {
//  //height: calc(100vh - 200px); /* Adjust this to fit your layout needs */
//  //height: 100%;
//  display: flex;
//  flex-direction: column;
//}

.article-content textarea {
  //  flex: 1;
  min-height: 600px; /* Set the minimum height */
  //  //height: 100%; /* Make it take up available height */
  //  resize: vertical; /* Allow vertical resizing */
}

.form-container {
  margin-bottom: 2em;
}

.article-control {
  margin-bottom: 1em;
}

.team-name {
  button {
    width: auto;
  }
}

.crypto-article-container {
  .form-container button {
    margin: 4px;
  }
  .form-container mat-checkbox {
    margin: 4px;
  }
  .form-container mat-select {
    margin-left: 4px;
  }
}

.audio-container {
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 1rem;
}
