<ng-template #toolbarTemplate>
  <span>Orders</span>
</ng-template>

<app-message />

<mat-card>
  <mat-card-content>
    <div class="orders-container">
      @if (loadingOrders) {
        <mat-spinner></mat-spinner>
      } @else if (creditService.userOrders().length > 0) {
        <table
          mat-table
          [dataSource]="creditService.userOrders()"
          (matSortChange)="sortChange($event)"
          matSort
          matSortActive="createdAt"
          matSortDirection="desc"
          matSortDisableClear
        >
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
            <td mat-cell *matCellDef="let order">{{ order.createdAt | date: 'short' : 'local' }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let order">{{ order.status }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let order">{{ order.description }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let order">${{ order.amount / 100 | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="invoiceUrl">
            <th mat-header-cell *matHeaderCellDef>Invoice</th>
            <td mat-cell *matCellDef="let order">
              @if (order.status === 'PAID' && order.invoiceUrl) {
                <a [href]="order.invoiceUrl" target="_blank">View Invoice</a>
              } @else if (order.status === 'PENDING' && order.sessionUrl) {
                <a [href]="order.sessionUrl" target="_blank">Click to complete...</a>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="refresh">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order">
              @if (order.status === 'PENDING') {
                <button mat-icon-button (click)="cancelOrder(order.id)">
                  <mat-icon>cancel</mat-icon>
                </button>
              }
              @if (order.status === 'PENDING' || (order.status === 'PAID' && order.invoiceUrl === null)) {
                <button mat-icon-button (click)="refreshOrder(order.id)">
                  <mat-icon>refresh</mat-icon>
                </button>
              }
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="['createdAt', 'status', 'description', 'amount', 'invoiceUrl', 'refresh']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['createdAt', 'status', 'description', 'amount', 'invoiceUrl', 'refresh']"
          ></tr>
        </table>

        <mat-paginator
          [length]="totalOrders"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      } @else {
        <p>No orders found.</p>
      }
    </div>
  </mat-card-content>
</mat-card>
