<form class="ticker-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Symbol</mat-label>
    <input
      #input
      id="ticker"
      type="text"
      placeholder="Enter the symbol"
      matInput
      class="mat-autocomplete-panel"
      [formControl]="tickerControl"
      [matAutocomplete]="auto"
      (keydown)="onKeydown($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (option of filteredOptions | async; track option.symbol) {
        <mat-option [value]="option.symbol">
          <mat-card matTooltip="{{ option.cik }}">
            <mat-card-header>
              <mat-card-title>{{ option.name }}</mat-card-title>
              <mat-card-subtitle>{{ option.symbol }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
