.member-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;

  mat-form-field,
  mat-checkbox,
  button {
    flex: 1 1 100%;
  }
}

.team-card {
  margin-bottom: 1em;
}

mat-divider {
  margin: 10px 0;
}

.container-card {
  padding: 20px;

  form {
    margin-bottom: 1em;
  }
}
.textarea-small {
  min-height: 2em;
  max-height: 10em;
  height: auto;
  overflow: auto;
}

.textarea-large {
  min-height: 15em;
  max-height: 30em;
  height: auto;
  overflow: auto;
}
