<app-cookie-banner></app-cookie-banner>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="sidenav-header">
      <img
        src="Capital_Copilot_Logo_Slanted.svg"
        aria-label="Side nav toggle icon"
        alt="Capital Copilot"
        class="website-icon"
      />
      <span class="website-title">Capital Copilot</span>
      <button type="button" aria-label="Collapse sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Collapse nav icon">menu_open</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track item.path) {
        @if (shouldShow(item)) {
          <a
            mat-list-item
            [routerLink]="item.path"
            #link="routerLinkActive"
            routerLinkActive
            [activated]="link.isActive"
          >
            {{ item.title }}
          </a>
        }
      }
      @if (this.authService.isLoggedIn()) {
        <a mat-list-item tabindex="0" (click)="logout()" (keydown.enter)="logout()" (keydown.space)="logout()">
          Logout
        </a>
      }
      <mat-button-toggle-group
        #group="matButtonToggleGroup"
        [(ngModel)]="currentTheme"
        (change)="switchTheme(group.value)"
        aria-label="Theme Toggle"
      >
        <mat-button-toggle value="dark">
          <mat-icon>dark_mode</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="light">
          <mat-icon>light_mode</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <a mat-list-item tabindex="0" target="_blank" href="privacy-policy.html"> Privacy Policy </a>
      <a mat-list-item tabindex="0" target="_blank" href="terms-and-conditions.html"> Terms and Conditions </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (!drawer.opened) {
        <button type="button" aria-label="Collapse sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Collapse nav icon">menu_close</mat-icon>
        </button>
        <img
          src="Capital_Copilot_Logo_Slanted.svg"
          aria-label="Side nav toggle icon"
          alt="Capital Copilot"
          class="website-icon"
        />
      }
      <ng-container #toolbarContainer></ng-container>
      @if (user) {
        <span class="spacer"></span>
        <span class="user">
          <a matLine [routerLink]="['/profile']">
            {{ user }}
          </a>
        </span>
      }
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
    <p>
      &copy; 2024 Perpetuator LLC. By using Capitol Copilot AI, you agree to our
      <a tabindex="0" target="_blank" href="terms-and-conditions.html"> Terms and Conditions </a>
      and
      <a tabindex="0" target="_blank" href="privacy-policy.html"> Privacy Policy </a>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
