mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.email-change-notification {
  max-width: 1016px;
  margin: 1rem 8px;
}

.export,
.orders,
.payment {
  max-width: 1016px;
  margin: 1rem 8px;
}

.danger-zone {
  color: red;
  max-width: 1016px;
  margin: 1rem 8px;
}

.action-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;

  mat-form-field,
  button {
    flex: 1 1 100%;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  max-width: 1032px;
  justify-content: center;
  align-items: center;

  mat-card {
    flex: 1 1 auto;
    max-width: 500px;
  }
}
