@if (dataSource.data?.loading) {
} @else if (dataSource.data?.error) {
  <div>
    <div class="error">
      <p>Error: {{ dataSource.data?.error }}</p>
    </div>
  </div>
} @else if (!earningsData || earningsData.length === 0) {
  <div>
    <mat-panel-title>
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <p>No earnings data for symbol.</p>
        </mat-card-content>
      </mat-card>
    </mat-panel-title>
  </div>
} @else {
  <div>
    <div class="important-earnings"></div>

    <mat-accordion class="remaining-earnings">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <table mat-table [dataSource]="[earningsData[0]]" class="mat-elevation-z8">
              <ng-container matColumnDef="daysFromNow">
                <td mat-cell *matCellDef="let element" matTooltip="Days until report" style="color:{{ element.color }}">
                  Earnings in {{ element.daysFromNow }} {{ element.daysFromNow > 1 ? 'days' : 'day' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="reportDate">
                <td
                  mat-cell
                  *matCellDef="let element"
                  matTooltip="Report Date: {{ element.reportDate | date }} | Fiscal Date Ending: {{
                    element.fiscalDateEnding | date
                  }}"
                >
                  {{ element.reportDate | date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="estimate">
                <td mat-cell *matCellDef="let element" matTooltip="Estimate">
                  {{
                    element.estimate
                      ? element.currency === 'USD'
                        ? '$' + element.estimate
                        : element.estimate + ' (' + element.currency + ')'
                      : '?'
                  }}
                </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="earningsData.slice(1)" class="mat-elevation-z8">
          <ng-container matColumnDef="daysFromNow">
            <td
              mat-cell
              *matCellDef="let element"
              matTooltip="Days until report"
              style="{{ 'color:' + element.color }}"
            >
              Earnings in {{ element.daysFromNow }} {{ element.daysFromNow > 1 ? 'days' : 'day' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="reportDate">
            <td
              mat-cell
              *matCellDef="let element"
              matTooltip="Report Date: {{ element.reportDate | date }} | Fiscal Date Ending: {{
                element.fiscalDateEnding | date
              }}"
            >
              {{ element.reportDate | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="estimate">
            <td mat-cell *matCellDef="let element" matTooltip="Estimate">
              {{
                element.estimate
                  ? element.currency === 'USD'
                    ? '$' + element.estimate
                    : element.estimate + ' (' + element.currency + ')'
                  : '?'
              }}
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}
