// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// System variables for Angular Material: https://angular-material.dev/articles/angular-material-theming-css-vars
@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

// Import MD3 variables
//@use '@angular/material/core/theming/palettes' as matPalette;
//@use '@angular/material/core/theming/palette-md' as mdPalette;

// Plus imports for other components in your app.
//@use 'invest-theme/m3-theme';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//$typography: (
//  brand-family: 'lexend, sans-serif',
//  //brand-family: 'roboto, sans-serif',
//  bold-weight: 900,
//);

//$dark-color-scheme: (
//  theme-type: dark,
//  primary: #6750A4,
//  on-primary: #FFFFFF,
//  primary-container: #EADDFF,
//  on-primary-container: #21005D,
//  secondary: #625B71,
//  on-secondary: #FFFFFF,
//  secondary-container: #E8DEF8,
//  on-secondary-container: #1D192B,
//  tertiary: #7D5260,
//  on-tertiary: #FFFFFF,
//  tertiary-container: #FFD8E4,
//  on-tertiary-container: #31111D,
//  error: #B3261E,
//  on-error: #FFFFFF,
//  error-container: #F9DEDC,
//  on-error-container: #410E0B,
//  background: #FFFBFE,
//  on-background: #1C1B1F,
//  surface: #FFFBFE,
//  on-surface: #1C1B1F,
//  outline: #79747E,
//  surface-variant: #E7E0EC,
//  on-surface-variant: #49454F,
//);
//
//// Create the theme object
//$theme: mat.define-theme((
//  color: $dark-color-scheme,
//  typography: $typography,
//  density: 0,
//));
//
//// Apply the theme
//@include mat.core();
//@include mat.all-component-themes($theme);
//
//// Define CSS custom properties
//// Use these like:
////.my-component {
////  background-color: var(--md-sys-color-primary);
////  color: var(--md-sys-color-on-primary);
////}
//
//// Dynamically change the theme:
////document.documentElement.style.setProperty('--md-sys-color-primary', '#newColorValue');
//:root {
//  @each $key, $value in $dark-color-scheme {
//    --md-sys-color-#{$key}: #{$value};
//  }
//}

// https://github.com/angular/components/blob/main/src/material/core/theming/prebuilt/cyan-orange.scss
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
      tertiary: mat.$violet-palette,
      //use-system-variables: true,
      //warn: mat.$yellow-palette,
      //accent: mat.$m2-amber-palette,
      //secondary: mat.$blue-palette,
      //error: mat.$red-palette,
      //success: mat.$green-palette,
      //warning: mat.$yellow-palette,
      //background: mat.$m2-gray-palette,
    ),
    typography: (
      brand-family: 'Lexend',
      plain-family: 'Open Sans',
      bold-weight: 900,
      medium-weight: 700,
      regular-weight: 500,
    ),
    density: (
      scale: 0,
    ),
  )
);

// https://github.com/angular/components/blob/main/src/material/core/theming/prebuilt/azure-blue.scss
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      //use-system-variables: true,
      //warn: mat.$yellow-palette,
      //accent: mat.$m2-amber-palette,
      //secondary: mat.$orange-palette,
      //error: mat.$red-palette,
      //success: mat.$green-palette,
      //warning: mat.$yellow-palette,
      //background: mat.$m2-gray-palette
    ),
    typography: (
      brand-family: 'Lexend',
      plain-family: 'Open Sans',
      bold-weight: 900,
      medium-weight: 700,
      regular-weight: 500,
    ),
    density: (
      scale: 0,
    ),
  )
);

//@include mat.all-component-typographies($typography);

// ignore-duplication-warnings: true is used to suppress warnings about duplicate styles
// Supposedly we can use: @include mat.all-component-colors($dark-theme); but it doesn't work
mat.$theme-ignore-duplication-warnings: true;

//@mixin custom-card-theme($theme) {
//  $color-config: map.get($theme, color);
//  $is-dark-theme: map.get($color-config, 'theme-type') == 'dark';
//  $background: map.get($color-config, 'background');
//
//  .mat-mdc-card {
//    @if $is-dark-theme {
//      background-color: mix(#ffffff, map.get($background, 'background'), 5%);
//    } @else {
//      background-color: mix(#000000, map.get($background, 'background'), 5%);
//    }
//  }
//}
//
//// Apply the custom theme
//@include custom-card-theme($dark-theme);
//@include custom-card-theme($light-theme);

// Keep your existing theme applications
body.dark {
  @include mat.all-component-themes($dark-theme);
  //@include mat.all-component-densities($dark-theme);
  //@include mat.all-component-bases($dark-theme);
  .mat-mdc-card {
    background-color: rgba(111, 111, 111, 0.1);
    //background-color: var(--mdc-outlined-card-outline-color);
  }
  //font-family: "Lexend", sans-serif;
  //font-optical-sizing: auto;
  //font-weight: 400;
  //font-style: normal;
}

body.light {
  @include mat.all-component-themes($light-theme);
  //@include mat.all-component-densities($light-theme);
  //@include mat.all-component-bases($light-theme);
  .mat-mdc-card {
    background-color: rgba(111, 111, 111, 0.1);
    //background-color: var(--mdc-outlined-card-outline-color);
  }
}

//@mixin set-css-variables($theme) {
//  $color-config: map.get($theme, color);
//  @if $color-config == null {
//    @warn 'No color configuration found in the theme map.';
//  } else {
//    :root {
//      --md-sys-color-primary: #{map.get($color-config, primary)};
//      --md-sys-color-secondary: #{map.get($color-config, secondary)};
//      --md-sys-color-tertiary: #{map.get($color-config, tertiary)};
//      --md-sys-color-error: #{map.get($color-config, error)};
//      --md-sys-color-success: #{map.get($color-config, success)};
//      --md-sys-color-warning: #{map.get($color-config, warning)};
//      --md-sys-color-background: #{map.get($color-config, background)};
//    }
//  }
//}
//
//// Apply the mixin for both themes
//@include set-css-variables($dark-theme);
//@include set-css-variables($light-theme);

html,
body {
  height: 100%;
  //font-family: var(--md-typography-brand-font-family);
  margin: 0;
  font-family: 'Lexend', sans-serif;
  //font-optical-sizing: auto;
  //font-weight: 400;
  //font-style: normal;
  //font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:root {
  //.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  //  font-family: var(--mat-toolbar-title-text-font, var(--mat-app-title-large-font));
  //--mat-toolbar-title-text-font: 'Lexend', sans-serif;
  //--md-sys-typography-font-family: 'Lexend', sans-serif;
  //--md-toolbar-title-text-font: 'Lexend', sans-serif;
  --md-sys-color-primary: #2196f3;
  --md-sys-color-secondary: #ff0000;
  --md-sys-color-tertiary: #9e9e9e;
  --md-sys-color-success: #4caf50;
  --md-sys-color-warning: #ffeb3b;
  --md-sys-color-error: #df4646;
  --md-sys-color-background: #f5f5f5;

  //--md-sys-color-primary-hover: #1976d2;
  //--md-sys-color-primary-visited: #1976d2;
  //--md-sys-color-secondary-hover: #f50057;
  //--md-sys-color-secondary-visited: #f50057;
  //--md-sys-color-success-hover: #388e3c;
  //--md-sys-color-success-visited: #388e3c;
  //--md-sys-color-warning-hover: #fbc02d;
  //--md-sys-color-warning-visited: #fbc02d;
  //--md-sys-color-error-hover: #b71c1c;
  //--md-sys-color-error-visited: #b71c1c;
  //--md-sys-color-text-primary: rgba(0, 0, 0, 0.87);
  //--md-sys-color-text-secondary: rgba(0, 0, 0, 0.54);
  //--md-sys-color-text-disabled: rgba(0, 0, 0, 0.38);
  //--md-sys-color-text-hint: rgba(0, 0, 0, 0.38);
  //--md-sys-color-text-icon: rgba(0, 0, 0, 0.38);
  //--md-sys-color-divider: rgba(0, 0, 0, 0.12);
}
a {
  color: var(--md-sys-color-primary);
  &:hover {
    color: var(--md-sys-color-primary-hover);
  }
  &:visited {
    color: var(--md-sys-color-primary-visited);
  }
}

// Now, debug the theme map
//@function print-map($map, $indent: '') {
//  @each $key, $value in $map {
//    @if type-of($value) == 'map' {
//      @debug $indent + '#{$key}:';
//      @debug $indent + '{';
//      @debug print-map($value, $indent + '  ');
//      @debug $indent + '}';
//    } @else {
//      @debug $indent + '#{$key}: #{$value}';
//    }
//  }
//  @return null;
//}
//@function print-keys($map, $indent: '') {
//  @each $key, $value in $map {
//    @if type-of($value) == 'map' {
//      @debug $indent + '#{$key}:';
//    } @else {
//      @debug $indent + '#{$key}';
//    }
//  }
//  @return null;
//}
//@function print-simple($map, $indent: '') {
//  $matint: map.get($map, '_mat-theming-internals-do-not-access');
//  //$root: map.get($matint, 'theme-type');
//  //$root: map.get($matint, 'palettes');
//  $root: map.get($matint, 'color-tokens');
//  //$root: map.get($matint, 'base-tokens');
//  @debug print-keys($root);
//  $color: map.get($root, 'theme');
//  @debug 'Keys:';
//  @debug print-keys($color);
//  //@debug 'Color Tokens:';
//  //@debug $color;
//  //$color-config: map.get($theme, color);
//  //$is-dark-theme: map.get($color-config, 'theme-type') == 'dark';
//  //$background: map.get($color-config, 'background');
//  //
//  //.mat-mdc-card {
//  //  @if $is-dark-theme {
//  //    background-color: mix(#ffffff, map.get($background, 'background'), 5%);
//  //  } @else {
//  //    background-color: mix(#000000, map.get($background, 'background'), 5%);
//  //  }
//  //}
//  @return null;
//}

//@debug 'Map Contents:';
//@debug print-map($dark-theme);
//@debug print-simple($dark-theme);
//@debug 'Dark Theme Keys:', map.keys(matPalette.$orange-palette);
