mat-card {
  margin: 2rem auto;
  padding: 20px;
}

mat-card.register-card {
  max-width: 800px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

mat-error {
  font-size: 0.8em;
  color: var(--md-sys-color-error);
}

mat-form-field {
  width: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  filter: brightness(150%);
}

.disclaimers {
  filter: brightness(110%);
}

.error-container {
  min-width: 300px;
}

.error-message {
  display: flex;
  align-items: center;
  color: var(--md-sys-color-error);
  margin: 10px 0;
}

mat-icon {
  margin-right: 8px;
}
